node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.vscode/brave-debug-profile/
.env
coverage/

.persist-storage

SECURITY_CHECKLIST.md

# Sentry Config File
.env.sentry-build-plugin
