node_modules
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
dist
package-lock.json
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.vscode/brave-debug-profile/
.env
coverage/

.persist-storage
.dev-browser-opened

SECURITY_CHECKLIST.md

# Sentry Config File
.env.sentry-build-plugin

# Temporary files
/tmp/
*.png
!generated-icon.png
!client/public/*.png
